{% extends 'base/base.html' %}
{% load static %}
{% block title %}Home - Pandharpur Guide{% endblock %}
{% block content %}
{% load highlight_tags %}

<style>

        
            /* Required CSS for Advertisements with Mobile Adjustments */
        .advertisements-upper-menu,
        .advertisements-below-menu,
        .advertisements-left-side,
        .advertisements-right-side,
        .advertisements-below-footer {
            width: 100%;
            position: relative;
            text-align: center;
            padding: 10px 0;
            z-index: 10; /* Lower than typical content (e.g., images at z-index 20) */
        }

        .advertisements-left-side,
        .advertisements-right-side {
            position: fixed;
            top: 50%;
            width: 278px;
            max-width: 40%; /* Prevent overflow on small screens */
        }

        .advertisements-left-side {
            left: 0;
        }

        .advertisements-right-side {
            right: 0;
        }

        .advertisement {
        display: none;
        position: relative;
        width: 80%;
        max-width: 800px;
        margin: 0 auto;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        }

        .advertisements-left-side .advertisement,
        .advertisements-right-side .advertisement {
            width: 100%;
            max-width: 100%;
        }

        .advertisement img {
            max-width: 100%;
            height: auto;
            display: block;
            margin-bottom: 10px;
        }

        .cancel-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            background: red;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            padding: 5px;
            font-size: 14px;
            z-index: 15; /* Slightly higher than ad, but still behind content */
        }

        .cancel-btn:hover {
            background: darkred;
        }

        .fade-in {
            animation: fadeIn 0.5s forwards;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(-20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        /* Mobile Adjustments */
        @media (max-width: 768px) {
            .advertisements-left-side,
            .advertisements-right-side {
                position: static; /* Remove fixed positioning on mobile */
                width: 100%;
                max-width: 100%;
                margin: 10px 0; /* Stack vertically */
            }

            .advertisements-upper-menu,
            .advertisements-below-menu,
            .advertisements-below-footer {
                padding: 5px 0; /* Reduce padding for mobile */
            }

            .advertisement {
                max-width: 90%; /* Better fit on smaller screens */
                margin: 10px auto; /* Reduce margin */
                padding: 10px; /* Reduce padding */
            }

            .cancel-btn {
                top: 5px; /* Adjust for smaller ad size */
                right: 5px;
                padding: 3px; /* Smaller button on mobile */
                font-size: 12px;
            }
        }
</style>
<script>
            document.addEventListener('DOMContentLoaded', () => {
                const ads = document.querySelectorAll('.advertisement');
                ads.forEach((ad, index) => {
                    setTimeout(() => {
                        showAd(ad.id);
                    }, index * 1000);
                });
            
                const totalImages = document.querySelectorAll('.carousel img').length;
                document.getElementById('total-images').textContent = totalImages;
                updateCarousel();
            });
            
            function showAd(adId) {
                const adElement = document.getElementById(adId);
                if (adElement) {
                    adElement.classList.add('fade-in');
                    adElement.style.display = 'block';
                }
            }
            
            function cancelAd(adId) {
                const adElement = document.getElementById(adId);
                if (adElement) {
                    adElement.classList.remove('fade-in');
                    adElement.classList.add('fade-out');
                    setTimeout(() => {
                        adElement.style.display = 'none';
                        adElement.classList.remove('fade-out');
                        setTimeout(() => showAd(adId), 5000);
                    }, 500);
                }
            }
            
            let currentIndex = 0;
            
            function updateCarousel() {
                const carousel = document.querySelector('.carousel');
                const offset = -currentIndex * 1000;
                carousel.style.transform = `translateX(${offset}px)`;
            
                const headings = document.querySelectorAll('.image-item input');
                const descriptions = document.querySelectorAll('.image-item textarea');
            
                document.getElementById('image-heading').textContent = headings[currentIndex].value;
                document.getElementById('image-description').textContent = descriptions[currentIndex].value;
                document.getElementById('current-index').textContent = currentIndex + 1;
            }
            
            function previousImage() {
                const images = document.querySelectorAll('.carousel img');
                currentIndex = (currentIndex > 0) ? currentIndex - 1 : images.length - 1;
                updateCarousel();
            }
            
            function nextImage() {
                const images = document.querySelectorAll('.carousel img');
                currentIndex = (currentIndex < images.length - 1) ? currentIndex + 1 : 0;
                updateCarousel();
            }
            
            function saveEdit(index) {
                const heading = document.querySelectorAll('.image-item input')[index].value;
                const description = document.querySelectorAll('.image-item textarea')[index].value;
            
                console.log(`Save heading: ${heading}, description: ${description}`);
            }
            
            // AOS Initialization
            AOS.init({
                duration: 1000,
                once: true,
                easing: 'ease-in-out',
            });
            
            // Popup Functionality
            document.querySelectorAll('.darshan img').forEach(image => {
                image.addEventListener('click', function (event) {
                    event.stopPropagation();
            
                    const popup = document.createElement('div');
                    popup.className = 'popup';
                    popup.innerHTML = `
                        <div class="popup-content">
                            <span class="close-btn">&times;</span>
                            <img src="${this.src}" alt="Full Size Image">
                        </div>
                    `;
            
                    document.body.appendChild(popup);
                    popup.style.display = 'block';
            
                    popup.addEventListener('dblclick', function () {
                        this.querySelector('.popup-content').classList.toggle('fullscreen');
                    });
            
                    popup.querySelector('.close-btn').addEventListener('click', function (e) {
                        e.stopPropagation();
                        popup.remove();
                    });
            
                    popup.addEventListener('click', function (e) {
                        if (e.target === popup) {
                            popup.remove();
                        }
                    });
                });
            });
            
</script>
<main class="main">
<!-- HTML for below-menu -->
<div class="advertisements-below-menu">
  {% for ad in advertisements %}
      {% if ad.position == "below-menu" and ad.status == "enable" %}
          <div class="advertisement fade-in" id="ad-below-menu-{{ forloop.counter }}">
              <button class="cancel-btn" onclick="cancelAd('ad-below-menu-{{ forloop.counter }}')">X</button>
              {% if ad.is_google_adsense %}
                  <div class="google-adsense">
                      {{ ad.google_adsense_code|safe }}
                  </div>
              {% else %}
                  {% if ad.site_link %}
                      <a href="{{ ad.site_link }}" target="_blank">
                          {% if ad.image %}
                              <img src="{{ ad.image.url }}" alt="{{ ad.title }}" />
                          {% endif %}
                          <h6>{{ ad.title }}</h6>
                      </a>
                  {% else %}
                      {% if ad.image %}
                          <img src="{{ ad.image.url }}" alt="{{ ad.title }}" />
                      {% endif %}
                      <h6>{{ ad.title }}</h6>
                  {% endif %}
              {% endif %}
          </div>
      {% endif %}
  {% endfor %}
</div>

<!-- HTML for left-side-of-page -->
<div class="advertisements-left-side">
  {% for ad in advertisements %}
      {% if ad.position == "left-side-of-page" and ad.status == "enable" %}
          <div class="advertisement fade-in" id="ad-left-side-{{ forloop.counter }}">
              <button class="cancel-btn" onclick="cancelAd('ad-left-side-{{ forloop.counter }}')">X</button>
              {% if ad.is_google_adsense %}
                  <div class="google-adsense">
                      {{ ad.google_adsense_code|safe }}
                  </div>
              {% else %}
                  {% if ad.site_link %}
                      <a href="{{ ad.site_link }}" target="_blank">
                          {% if ad.image %}
                              <img src="{{ ad.image.url }}" alt="{{ ad.title }}" />
                          {% endif %}
                          <h6>{{ ad.title }}</h6>
                      </a>
                  {% else %}
                      {% if ad.image %}
                          <img src="{{ ad.image.url }}" alt="{{ ad.title }}" />
                      {% endif %}
                      <h6>{{ ad.title }}</h6>
                  {% endif %}
              {% endif %}
          </div>
      {% endif %}
  {% endfor %}
</div>

<!-- HTML for right-side-of-page -->
<div class="advertisements-right-side">
  {% for ad in advertisements %}
      {% if ad.position == "right-side-of-page" and ad.status == "enable" %}
          <div class="advertisement fade-in" id="ad-right-side-{{ forloop.counter }}">
              <button class="cancel-btn" onclick="cancelAd('ad-right-side-{{ forloop.counter }}')">X</button>
              {% if ad.is_google_adsense %}
                  <div class="google-adsense">
                      {{ ad.google_adsense_code|safe }}
                  </div>
              {% else %}
                  {% if ad.site_link %}
                      <a href="{{ ad.site_link }}" target="_blank">
                          {% if ad.image %}
                              <img src="{{ ad.image.url }}" alt="{{ ad.title }}" />
                          {% endif %}
                          <h6>{{ ad.title }}</h6>
                      </a>
                  {% else %}
                      {% if ad.image %}
                          <img src="{{ ad.image.url }}" alt="{{ ad.title }}" />
                      {% endif %}
                      <h6>{{ ad.title }}</h6>
                  {% endif %}
              {% endif %}
          </div>
      {% endif %}
  {% endfor %}
</div>

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">


      <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
        {% for image in images %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{{ image.image.url }}" alt="{{ image.heading }}">
          <div class="carousel-container">
            <h2> {{ image.heading|title }}<br></h2>
            <p>{{ image.description|capfirst }}</p>
            <a href="{% url 'myapp:blog_detail' image.id %}" class="btn-get-started">Get Started</a>
          </div>
        </div><!-- End Carousel Item -->
        {% endfor %}

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

        <ol class="carousel-indicators"></ol>

      </div>

    </section><!-- /Hero Section -->
    



    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About</h2>
        <p>About Us<br></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="bi bi-check2-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo</span></li>
            </ul>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
            <a href="about.html" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->


   
    {% comment %} <style>
        .post-item { margin-bottom: 20px; }
        .no-results { color: red; font-style: italic; text-align: center; }
        article { margin-bottom: 30px; }
    </style> {% endcomment %}

    <main class="main">
        <div class="page-title light-background">
            <div class="container d-lg-flex justify-content-between align-items-center">
                <h1 class="mb-2 mb-lg-0">PostsDetail</h1>
                <nav class="breadcrumbs"></nav>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <section id="blog-posts" class="blog-posts section">
                        <div class="container">
                            <div class="row gy-4">
                                {% if images %}
                                    {% for image in images %}
                                        <div class="col-lg-12">
                                            <article>
                                                <div class="post-img">
                                                    <img src="{{ image.image.url }}" alt="{{ image.heading }}" class="img-fluid">
                                                </div>
                                                <h2 class="title">
                                                    <a href="#top" onclick="scrollToTop(event)">
                                                        {{ forloop.counter }}. {{ image.heading|highlight:search_query }}
                                                    </a>
                                                </h2>
                                                <div class="meta-top">
                                                    <ul>
                                                        <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="{% url 'myapp:blog_detail' image.id %}">PandharpurGuide</a></li>
                                                        <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="{% url 'myapp:blog_detail' image.id %}"><time datetime="{{ image.created_at|date:'Y-m-d H:i:s' }}">{{ image.created_at|date:'M d, Y' }}</time></a></li>
                                                        <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="{% url 'myapp:blog_detail' image.id %}">{{ image.comments.count }} Comments</a></li>
                                                    </ul>
                                                </div>
                                                <div class="content">
                                                    <p>{{ image.description|highlight:search_query }}</p>
                                                    <div class="read-more">
                                                        <a href="{% url 'myapp:blog_detail' image.id %}">Read More</a>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="col-lg-12">
                                        <p class="no-results">Unable to find this</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </section>

                    <section id="blog-pagination" class="blog-pagination section">
                        <div class="container">
                            <div class="d-flex justify-content-center">
                                <ul>
                                    <li><a href="#"><i class="bi bi-chevron-left"></i></a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#" class="active">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li>...</li>
                                    <li><a href="#">10</a></li>
                                    <li><a href="#"><i class="bi bi-chevron-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-lg-4 sidebar">
                    <div class="widgets-container">
                        <div class="search-widget widget-item">
                            <h3 class="widget-title">Search</h3>
                            
                            <form action="" method="get" id="search-form">
                                <input type="text" name="q" value="{{ search_query }}" placeholder="Search...">
                                <a href="{% url 'myapp:home' %}#blog-posts"> <button type="submit" title="Search"><i class="bi bi-search"></i></button> </a>
                            </form>
                        </div>

                        <div class="categories-widget widget-item">
                            <h3 class="widget-title">Categories</h3>
                            <ul class="mt-3">
                                <li><a href="#">Pandharpur <span>(25)</span></a></li>
                                <li><a href="#">Visiting <span>(12)</span></a></li>
                                <li><a href="#">Travel <span>(5)</span></a></li>
                                <li><a href="#">Rooms <span>(22)</span></a></li>
                                <li><a href="#">Puja <span>(8)</span></a></li>
                                <li><a href="#">Education <span>(14)</span></a></li>
                            </ul>
                        </div>

                        <div class="recent-posts-widget widget-item">
                            <h3 class="widget-title">Recent Posts</h3>
                            {% if images %}
                                {% for image in images %}
                                    <div class="post-item">
                                        <img src="{{ image.image.url }}" alt="{{ image.heading }}" class="flex-shrink-0">
                                        <div>
                                            <h4>
                                                <a href="{% url 'myapp:blog_detail' image.id %}">
                                                    {{ forloop.counter }}. {{ image.heading|highlight:search_query }}
                                                </a>
                                            </h4>
                                            <time datetime="{{ image.created_at|date:'Y-m-d H:i:s' }}">
                                                {{ image.created_at|date:'M d, Y' }}
                                            </time>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p class="no-results">Unable to find this</p>
                            {% endif %}
                        </div>

                        <div class="tags-widget widget-item">
                            <h3 class="widget-title">Tags</h3>
                            <ul>
                                <li><a href="#">App</a></li>
                                <li><a href="#">IT</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Mac</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Office</a></li>
                                <li><a href="#">Creative</a></li>
                                <li><a href="#">Studio</a></li>
                                <li><a href="#">Smart</a></li>
                                <li><a href="#">Tips</a></li>
                                <li><a href="#">Marketing</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- HTML for below-page -->
            <div class="advertisements-below-page">
              {% for ad in advertisements %}
                  {% if ad.position == "below-page" and ad.status == "enable" %}
                      <div class="advertisement fade-in" id="ad-below-page-{{ forloop.counter }}">
                          <button class="cancel-btn" onclick="cancelAd('ad-below-page-{{ forloop.counter }}')">X</button>
                          {% if ad.is_google_adsense %}
                              <div class="google-adsense">
                                  {{ ad.google_adsense_code|safe }}
                              </div>
                          {% else %}
                              {% if ad.site_link %}
                                  <a href="{{ ad.site_link }}" target="_blank">
                                      {% if ad.image %}
                                          <img src="{{ ad.image.url }}" alt="{{ ad.title }}" />
                                      {% endif %}
                                      <h6>{{ ad.title }}</h6>
                                  </a>
                              {% else %}
                                  {% if ad.image %}
                                      <img src="{{ ad.image.url }}" alt="{{ ad.title }}" />
                                  {% endif %}
                                  <h6>{{ ad.title }}</h6>
                              {% endif %}
                          {% endif %}
                      </div>
                  {% endif %}
              {% endfor %}
            </div>
        </div>

        <script>
            function scrollToTop(event) {
                event.preventDefault();
                window.scrollTo({
                    top: 0,
                    behavior: 'smooth'
                });
            }

            document.getElementById('search-form').addEventListener('submit', function(event) {
                setTimeout(function() {
                    const blogPostsSection = document.getElementById('blog-posts');
                    if (blogPostsSection) {
                        blogPostsSection.scrollIntoView({ behavior: 'smooth' });
                    }
                }, 100);
            });
        </script>



        
  </main>

    <!-- /Services Section -->

    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Portfolio</h2>
        <p>Necessitatibus eius consequatur</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-product">Card</li>
            <li data-filter=".filter-branding">Web</li>
          </ul><!-- End Portfolio Filters -->

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-1.jpg'%}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 1</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-1.jpg'%}" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html'%}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-2.jpg'%}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Product 1</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-2.jpg'%}" title="Product 1" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html'%}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-3.jpg'%}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Branding 1</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-3.jpg'%}" title="Branding 1" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html'%}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-4.jpg'%}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 2</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-4.jpg'%}" title="App 2" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html'%}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-5.jpg'%}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Product 2</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-5.jpg'%}" title="Product 2" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html'%}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-6.jpg'%}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Branding 2</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-6.jpg'%}" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html'%}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-7.jpg'%}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 3</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-7.jpg'%}" title="App 3" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html'%}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-8.jpg'%}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Product 3</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-8.jpg'%}" title="Product 3" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html'%}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
              <img src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-9.jpg'%}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Branding 3</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-9.jpg'%}" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html'%}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section><!-- /Portfolio Section -->

  </main>

{% endblock content %}
